
<div class="row checkout-table">
  <div class="col-xs-12">
    
    <div class="row tiny-font">
      <div class="hidden-xs col-sm-1"></div>
      <div class="col-xs-6 col-sm-5"><b>Product</b></div>
      <div class="col-xs-2"><b>Unit Price</b></div>
      <div class="col-xs-2"><b>Order Qty</b></div>
      <div class="col-xs-2"><b>Subtotal</b></div>
    </div>
    <hr />

    <% @products.each do |product| %>
      <%=
      render "checkout/partials/checkoutSummaryRow", {
            product: product[:record],
            product_qty: product[:cart_qty],
            subtotal: product[:subtotal]
          }
      %>
      <hr />
    <% end %>
    <br />

    <div class="row tiny-font">
      <div class="col-xs-6">&nbsp</div>
      <div class="col-xs-2">&nbsp</div>
      <div class="col-xs-2"><b>Total Items</b></div>
      <div class="col-xs-2"><b>Grand Total</b></div>
    </div>
    <hr />

    <div class="row tiny-font">
      <div class="col-xs-6">&nbsp</div>
      <div class="col-xs-2">&nbsp</div>
      <div class="col-xs-2"> <%= @total_items %></div>
      <div class="col-xs-2"> <%= @grand_total %></div>
    </div>
    <br />

  </div>
</div>