
<div class="row">
  <div class="col-xs-6"><%= product.name %></div>
  <div class="col-xs-2"><%= product.unit_price %></div>
  <div class="col-xs-2"><%= product_qty %></div>
  <div class="col-xs-2"><%= subtotal %></div>
</div>