<div class="row">
  <div class="col-xs-12">

    <%#= form_for @cart_page do |p| %>
    
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Cart Page...</h3>
        </div>

        <div class="panel-body">
          <%#= p.text_field :email, type: 'email', id: 'input_email', :class => 'form-control'%>
        </div>

      </div>

    <%# end %>
  </div>
</div>
