<div class="row">
  <div class="col-xs-12">

    <h3 class="panel-title">
      Your Cart:
    </h3>

    <%
    # Remote: This will make the form submit via ajax (Through unobtrusive javaScript)
    # A remote form automatically gets its authenticity token from the page's meta tag.
    %>
    <%= form_tag '/cart/submit', remote: true %>
      <% @products.each do |product| %>
        <%=
        render "partials/forsale_product_line", {
          product: product[:record],
          product_qty: product[:cart_qty]
        }
        %>
      <% end %>
    </form>

  </div>
</div>