
<div class="row">
  <div class="col-xs-12">

    <h3>Checkout</h3>

    <% if @total_lines > 0 %>
      <% if current_user.present? %>
        <% if @addresses.where(deleted: false).count > 0 %>

          <div class="row">
            <div class="col-xs-12 well">
              <h3>Shipping / Billing details:</h3>
              <%= render 'cart/partials/addressHeader' %>
              <% @addresses.each do |a| %>
                <% if a.deleted == false %>
                  <%= render 'cart/partials/addressRow', { address: a, user: current_user } %>
                <% end %>
              <% end %>
            </div>
          </div>
          
        <% end %>
      <% end %>
    <% end %>

    <h3>
      <%=
      submit_tag "Place Order", {class: "btn btn-default"}
      %>
    </h3>
    
  </div>
</div>