
<%= javascript_include_tag "login_page" %>
<br />

<form role="form" class="authForm">

  <div class="alert alert-warning loginFailMessage" style="display:none;">
  </div>

  <%= render "/partials/flash_message" %>

  <h4>Login Details</h4>

  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" name="inputEmail">
  </div>

  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="inputPassword">
  </div>

  <button id="loginPageSubmit" type="button" class="btn btn-primary pull-right">
    Submit
  </button>

</form>
