<div class="row">
  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h3>
            Token is invalid
          </h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h4>
            Perhaps you accidentally requested two tokens and are using the older one?
          </h4>
        </div>

        <br />

        <div class="text-center">
          Please check your inbox or <%= link_to "request a new token", new_password_reset_path %>.
        </div>
      </div>
    </div>

  </div>
</div>
