<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6 well text-center"><%= goback_message %></div>
  </div>
  <div class="col-xs-3"></div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class='text-center'>
      <%= link_to goback_btn_text, goback_btn_path, class: "btn btn-default go-next-btn" %>
    </div>
  </div>
</div>