<div class="mg-site-title">
  <%= link_to "Fuzzy Bear Electronics", root_path %>
  <% if current_user %>
    <div class="loggedInAs">
      <div>Signed in as </div>
      <div class="dark-text"><%= current_user.email %></div>
      <div><%= current_user.usertype == 'staff' ? "(Customer)" : "(Customer)" %></div>
    </div>
  <% end%>
</div>