<span class="visible-xs hidden-sm  hidden-md  hidden-lg">
  large (gt 1200)
  medium (gt 992)
  small (gt 768)
  <b>xtra small (mobile)</b>
</span>

<span class="hidden-xs  visible-sm hidden-md  hidden-lg">
  large (gt 1200)
  medium (gt 992)
  <b>small (tablets gt 768)</b>
  xtra small
</span>

<span class="hidden-xs  hidden-sm  visible-md hidden-lg">
  large (gt 1200)
  <b>medium (desktops gt 992)</b>
  small (gt 768)
  xtra small
</span>

<span class="hidden-xs  hidden-sm  hidden-md  visible-lg">
  <b>large (desktop gt 1200)</b>
  medium (gt 992)
  small (gt 768)
  xtra small
</span>