
<% unless atStore %>
  <span class="glyphicon glyphicon-remove"></span>
<% else %>

  <div class="btn-group">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu pull-right" role="menu">
      <li>
        <a href="#">
          Remove from Cart
        </a>
      </li>
    </ul>
  </div>
<% end %>