


<div class="panel panel-default">
  <div class="panel-body">

    <h4>Manager Customers</h4>

    <div class="row">

      <% @customers.each do |customer| %>

        <%= link_to edit_customer_path(customer) do %>
          <%= render '/users/partials/customer_list', { customer: customer } %>
        <% end %>
        
      <% end %>

    </div>
  </div>
</div>