


<div class="panel panel-default">
  <div class="panel-body">

    <h4>Manager Customers</h4>

    <div class="row">

      <% @customers.each do |customer| %>

        <%= render '/users/partials/customer_list', { customer: customer } %>

      <% end %>

    </div>
  </div>
</div>