<div class="row address-row hidden-xs">
  <div class="col-sm-6">
  </div>

  <div class="col-sm-3">
    <!-- <h4></h4> -->
    Ship to this address
  </div>

  <div class="col-sm-3">
    <!-- <h4></h4> -->
    Use as Billing Address
  </div>
</div>