
<div class="home-text-center">

  <h3 style="margin-top: 28px; margin-bottom: 17px;">Welcome</h3>

  <p class="lead">
    This is a pretend online store built with Ruby on Rails.
  </p>

  <p class="">
    This store provides a list of 30 electronics products. You can search, add to cart, and place an order. This is a pretend site, so you don't have to pay (and won't receive anything).
  </p>

  <p class="">
    If you provide a real email address, it is only used to send you password reset tokens.
  </p>

  <p class="">
    Orders can be viewed under your account when you log in.
  </p>

  <p class="">
    You can also change yourself into a staff member if you want to try the staff user features like managing customers.
  </p>

  <br />

  <div class="text-center">
    <%=
    link_to "Go To Store", store_index_path, class: "btn btn-default go-next-btn"
    %>
  </div>

</div>