
<div class="home-text-center">

  <h3>
    Welcome
  </h3>
  <br />

  <p class="lead">
    This is a <strong>pretend</strong> online store, for demonstrating my web application development skills. This site was built using Ruby on Rails.
  </p>
  <p class="">
    The online store provides a list of 30 electronics products, which you can browse, add to cart, and place an "order" - note that this is a pretend site so you don't have to pay (and won't receive anything).
  </p>
  <p class="">
    For a real site, I would probably use braintree for payments. 
  </p>
  
  <p class="">
    <strong>My site does not ask for your credit card</strong>.
  </p>

  <p class="">
    If you provide a real email address, it is only used to send you password reset tokens.
  </p>

  <p class="">
    You can use this site without registering, but you have to register if you want to place an order.
  </p>

  <p class="">
    Orders can be viewed under your account when logged in. Let me just reassure you that orders are never shipped, and no financial transaction ever takes place.
  </p>
  <br />

  <div class="text-center">
    <%=
    link_to "Go To Store", store_index_path, class: "btn btn-default go-next-btn"
    %>
  </div>

</div>