<div class="col-xs-12">
  <div class="well manage-users-page tiny-font">

    <div class="row">
      <div class="col-xs-10">
        <%= render "/users/partials/list_basic", {user:user} %>
      </div>
      <div class="col-xs-2">
        <%= link_to user_path(user), method: :delete, class: 'user-delete pull-right', style:"text-decoration:none;" do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= link_to edit_customer_path(user), class: 'pull-right' do %>
          <button id=<%="editUser#{user.id}"%> type="button" class="btn btn-default">Edit Customer</button>
        <% end %>
      </div>
    </div>
    
  </div>
</div>