<div class="row">
  <div class="col-xs-12">

    <%= render "/partials/flash_message" %>

    <%# Show all Orders %>
    <div class="row content-header-row">
      <div class="col-xs-12">
        <p>
          <%= link_to "Show all Orders", user_orders_path, class: "" %>
        </p>
      </div>
    </div>

    <div class="well solidBackground mg-hover-static">
      <%= render "orders/partials/order_head", { order: @order } %>
      <%= render "orders/partials/order_line", { order: @order } %>
    </div>

  </div>
</div>
<br />
<br />