<div class="row row-order-line-item mg-table-feint">

  <div class="col-xs-5">
    <strong><small>Product</small></strong>
  </div>

  <div class="col-xs-3">
    <div class="text-left">
      <strong><small>Quantity</small></strong>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="pull-right">
      <strong><small>Sub Total</small></strong>
    </div>
  </div>

</div>