<div class="row tiny-font row-order-line-item mg-table-feint">

  <div class="col-xs-5">
    <strong>Product</strong>
  </div>

  <div class="col-xs-3 text-center">
    <strong>Quantity</strong>
  </div>

  <div class="col-xs-4 text-right">
    <strong>Sub Total</strong>
  </div>

</div>