<div>
  <%= render "orders/partials/order_detail_header", { order: order } %>

  <% order.ordered_products.each do |ordered_product| %>
    <%= render "orders/partials/order_detail_line", { ordered_product: ordered_product } %>
  <% end %>

</div>