
<div class="row">
  <% if order.ordered_products.empty? %>
    <p class="mg-resizable-11-14">(EMPTY)</p>
  <% else %>

    <div class="mg-resizable-11-14">
      
      <div class="col-xs-9 mg-border-bottom mg-table-feint">
        <p><strong><small>Product</small></strong></p>
      </div>
      <div class="col-xs-3 mg-border-bottom mg-table-feint">
        <div class="row">
          <div class="text-center">
            <p>
              <strong><small>Quantity</small></strong>
            </p>
          </div>
        </div>
      </div>


      <% order.ordered_products.each do |ordered_product| %>
      <div class="col-xs-9 mg-table-feint">
        <p>
          <%= ordered_product.product.name %>
        </p>
      </div>
      <div class="col-xs-3 mg-table-feint">
        <div class="row">
          <div class="text-center">
            <p><%= ordered_product.qty || 0 %></p>
          </div>
        </div>
      </div>
      <% end %>

    </div>

  <% end %>
</div>