<!-- Tab header -->
<ul class="nav nav-tabs" role="tablist" id="accountDetailTabs">

  <%= navtab_li 'users/edit' %>
    <%= link_to edit_user_path(user) do %> Account Details <% end %>
  </li>
  <%= navtab_li 'user_addresses/edit' %>
    <%= link_to user_addresses_path(user) do %> Shipping / Billing Addresses <% end %>
  </li>
</ul>