/*
 *= require bootstrap.min
 *= require_self
 *= require_tree .
*/

// NOT DOING THIS ANYMORE, I AM USING THE MINIFIED BOOTSTRAP NOW, require'd ABOVE.
// WILL I BE ABLE TO SET THE FONT FACE BELOW ?????
// @import "bootstrap";

// The bootstrap fonts are located in /public/assets/fonts/bootstrap/
$font-folder: '/fonts';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('#{$font-folder}/glyphicons-halflings-regular.eot');
  src: url('#{$font-folder}/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('#{$font-folder}/glyphicons-halflings-regular.woff') format('woff'), 
       url('#{$font-folder}/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('#{$font-folder}/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.current {
  background-color: rgb(206, 206, 206);
}

nav.pagination a.btn {
  font-size: 10px;
}