/*
 *= require bootstrap.min
 *= require_self
 *= require_tree .
*/

// NOT DOING THIS ANYMORE, I AM USING THE MINIFIED BOOTSTRAP NOW, require'd ABOVE.
// WILL I BE ABLE TO SET THE FONT FACE BELOW ?????
// @import "bootstrap";

// The bootstrap fonts are located in /public/assets/fonts/bootstrap/
$font-folder: '/fonts';

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('#{$font-folder}/glyphicons-halflings-regular.eot');
  src: url('#{$font-folder}/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('#{$font-folder}/glyphicons-halflings-regular.woff') format('woff'), 
       url('#{$font-folder}/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('#{$font-folder}/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.current {
  background-color: rgb(206, 206, 206);
}

nav.pagination a.btn {
  font-size: 10px;
}

.feint{
  color: rgba(39, 39, 39, 0.68);
}

.very-feint{
  color: rgb(200, 200, 200);
}

div.breakpoint-text .tiny-font{
  font-size: 14px;

  @media screen and (max-width: 430px) {
    font-size: 11px;
  }

  @media screen and (max-width: 345px) {
    font-size: 9px;
  }
}

.well.customerwell{
  background-color: #97CC97; //green
}

.well.staffwell{
  background-color: rgb(243, 133, 59); //bright orange
}

.well.adminwell{
  background-color: #C54B48; //red
}