.checkout-product-img {
  width: 30px;
  height: 30px;
}

div.checkout-table .tiny-font{
  font-size: 14px;

  @media screen and (max-width: 430px) {
    font-size: 11px;
  }

  @media screen and (max-width: 345px) {
    font-size: 9px;
  }
}