.row.loggedInAs {
  color: grey;
  font-size: 0.8em;
  padding-bottom: 10px;
}

nav.navbar ol.nav.navbar-nav li {
  text-align: right;
  border-style: dashed;
  border-width: 1px;
  a {
    padding-left: 3px;
    padding-right: 3px;
  }
}

a.mg-site-title {
  color: #666666;
}

a.mg-site-title:hover {
  color: black;
  text-decoration: none;
}