.row.loggedInAs {
  color: grey;
  font-size: 0.8em;
  padding-bottom: 10px;
}

div.mg-navbar-parent {
  div.row {
    margin-top: 15px;
    text-align: right;
    div.mg-navbar-item {
      text-align: right;
      float: right;
      background-color: aqua;
      padding-left: 13px;
      padding-right: 13px;
      height: 35px;

      // small mode.
      // Display navbar items as a single column.
      width: 130px;
      display: inline-block;
      
      @media screen and (min-width: 441px) {
        // normal mode
        width: 145px;
        text-align: right;
        background-color: orange;
      }
      @media screen and (min-width: 690px) {
        // normal mode
        text-align: center;
        background-color: yellow;
      }
      @media screen and (min-width: 810px) {
        // Display navbar items as a single row.
        //display: block;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

a.mg-site-title {
  color: #666666;
}

a.mg-site-title:hover {
  color: black;
  text-decoration: none;
}