.greyText {
  color: grey;
}

input.big-input-field {
  // font-size: 16px;
  height: auto;
}

span.glyphicon.glyphicon-minus {
  font-size: 0.7em;
}
span.glyphicon.glyphicon-plus {
  font-size: 0.7em;
}

span.glyphicon.glyphicon-remove {
  color: rgb(213, 213, 213);
}
span.glyphicon.glyphicon-remove:hover {
  color: #7A7A7A;
}

.centeredProducts {
  /* Products are displayed in a single centered column, for small screens. */
  @media screen and (max-width: 767px) {
    min-width: 193px;
    max-width: 267px;
    margin-left: auto;
    margin-right: auto;
  }
}

div.parental-div {
  margin-top: 30px;
}

.well.transparentBackground {
  background-color: transparent;
  @media screen and (min-width: 768px) {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
  }
}

img.centered-block-img {
  display: block; /* Override the default inline-block of img tag. This will allow us to set the margins to auto... */
  margin-left: auto;
  margin-right: auto;
}

img.centered-block-img.with-vert-margins {
  @media screen and (max-width: 767px) {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

hr.narrow-hr {
  margin-top: 3px;
  margin-bottom: 10px;
}
img.centered-block-img {
  // border: 1px dashed;
}