
a.btn.go-to-cart-btn {
  font-size: 2.0em;
  margin-bottom: 30px;
}

div.product-search-group {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
}

.product-search, .product-search {
  height: 38px;
}

input.product-search {
  text-align: center;
}