small.inStockText {
  color: grey;
}

/*div.unitPriceText {
  height: auto;
}

@media screen and ( max-width: 768px ) {
  div.unitPriceText {
    display: table-cell;
    vertical-align: bottom;
    height: 120px;
  }
}*/