.greyText {
  color: grey;
}

.storeContents {
  /* Products are displayed in a single centered column, for small screens. */
  @media screen and (max-width: 767px) {
    min-width: 193px;
    max-width: 267px;
    margin-left: auto;
    margin-right: auto;
  }
}
.well.transparentBackground {
  background-color: transparent;
}