<div class="row">
  <div class="col-xs-12">

    <div class="centeredProducts">

      <h3>
        Available Products:
      </h3>

      <%= paginate @all_products %>

      <form role="form">
        <% @products.each do |product| %>
          <%=
          render "partials/forsale_product_line", {
            product: product[:record],
            product_qty: product[:cart_qty]
          }
          %>
        <% end %>
      </form>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= paginate @all_products %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%=
          link_to "Go To Cart", cart_index_path, class: "btn btn-default pull-right go-to-cart-btn"
          %>
        </div>
      </div>
    </div>

  </div>
</div>
