<div class="row">
  <div class="col-xs-12">

    <div class="centeredProducts">

      <h3>
        Available Products:
      </h3>

      <form role="form">
        <% @products.each do |product| %>
          <%=
          render "partials/forsale_product_line", {
            product: product[:record],
            product_qty: product[:cart_qty]
          }
          %>
        <% end %>
      </form>

    </div>

  </div>
</div>
