<nav class="navbar navbar-default" role="navigation">
  
  <!-- Site Title -->
  <div class="col-xs-6 col-sm-4">
    <a class="navbar-brand mg-navbar-title" href="#" style="margin-left: -16px;">
      Fuzzy Bear Electronics
    </a>
  </div>

  <!-- Forgot Pw, Rego, Login -->
  <div class="col-xs-6 col-sm-8">
    <ol class="nav navbar-nav navbar-right">
      <li><a href="#" data-toggle="modal" data-target="#loginModal" class="mg-navbar-link">Login</a></li>
      <li><a href="#" data-toggle="modal" data-target="#registerModal" class="mg-navbar-link">Register</a></li>
      <li><a href="#" data-toggle="modal" data-target="#forgotPwModal" class="mg-navbar-link">Forgot my password</a></li>
    </ol>
  </div>

</nav>