<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form role="form">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Create Account</h4>
        </div>

        <div class="modal-body">

          <ul id="error_messages">
          </ul>

          <div id="form-group-email" class="form-group">
            <label for="input_email">Email address</label>
            <span class='error-message'></span>
            <input type="email" id="input_email" class="form-control">
          </div>

          <div id="form-group-password" class="form-group">
            <label for="input_password">Password</label>
            <span class='error-message'></span>
            <input type="password" id="input_password" class="form-control">
          </div>
          
          <div id="form-group-password-confirmation" class="form-group">
            <label for="input_password_confirmation">Confirm Password</label>
            <span class='error-message'></span>
            <input type="password" id="input_password_confirmation" class="form-control">
          </div>
        </div>

        <div class="modal-footer">
          <button id="registerModalSubmit" type="button" class="btn btn-primary pull-right">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>